@font-face {
  font-family: "Helvetica";
  src: local("Helvetica-VariableFont_wght"),
    url("./assets/fonts/Helvetica.ttf") format("truetype");
}

body{
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}